*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-top:0;
    max-width:300px;
    max-height: 275px;
    
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #860111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 25px;
}

.sidenav a {
  padding: 32px;
  text-decoration: none;
  font-size: 35px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    background-color: #cc0000;
    min-height: 100vh; /* Make main take the full viewport height */
}

.openbtn {
  font-size: 40px;
  cursor: pointer;
  background-color: #860111;
  color: #f8f8ff;
  padding: 18px 31px;
  border: 3.5px solid #333333;
  border-radius:10px;
}

.openbtn:hover {
  background-color: #444;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 37px;
  margin-left: 100px;
}
#homeMap .responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 50%;
  height: auto;
  overflow: auto;
  scrollbar-width: none;
  touch-action: manipulation;
}
#message{
  text-align: center;
  
}
/*Image Container for Map*/
.container{
  position: relative;
}

.container .btn{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #5550;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition-duration: 0.3s;
  text-indent: -9999px;
}
.container .btn:hover{
    background: rgba(25, 5, 0,0.5);
}
.container #btnA{
  top:8%;
  left:54.5%;
}
.container #btnB{
  top:12.5%;
  left:65%;
}
.container #btnC{
  top:20%;
  left:59.8%;
}
.container #btnE{
  top:40.3%;
  left:41.0%;
}
.container #btnF{
  top:40.7%;
  left:57.6%;
}
.container #btnG{
  top:47.2%;
  left:53.98%;
}
.container #btnH{
  top:58.9%;
  left:39.99%;
}
.container #btnI{
  top:65.9%;
  left:49.4%;
}
.container #btnJ{
  top:70%;
  left:57.79%;
}
.container #btnL{
  top:75.4%;
  left:43.4%;
}
.container #btnM{
  top:73%;
  left:38.27%;
}
.container #btnO{
  top:84.9%;
  left:48.95%
}
.container #btnP{
  top:76%;
  left:49.47%;
}

