body, html {
    
    height: 100%;
    margin: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#parking-lot {
    position: relative;
    width: 836px; /* Width of the image */
    height: 541px; /* Height of the image */
    margin: auto;
    background: url('LotGFinalPic.GIF') no-repeat center center;
    background-size: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}

.parking-spot {
    font-size: 12.5px;
    position: absolute;
    width: auto; /* Width of the spot */
    height: auto; /* Height of the spot */
    background-color: #3fff00; /* Semi-transparent */
    border-radius: 5px;
    color: black;
    border: none;
    /* Position each spot with 'top' and 'left' in the separate CSS file, e.g., */
}

#g1 { 
    top: 30.4%; 
    left: 61.4%; 
}
#g2 { 
    top: 30.4%; 
    left: 57.4%; 
}
#g3 { 
    top: 30.4%; 
    left: 53.3%; 
}
#g4 { 
    top: 30.4%; 
    left: 49.2%; 
}
#g5 { 
    top: 30.4%; 
    left: 45.1%; 
}
#g6 { 
    top: 30.4%; 
    left: 41%; 
}
#g7 { 
    top: 30.4%; 
    left: 37%; 
}
#g8 { 
    top: 30.4%; 
    left: 32.9%; 
}
#g9 { 
    top: 49.4%; 
    left: 61.4%; 
}
#g10 { 
    top: 49.4%; 
    left: 56.9%; 
}
#g11 { 
    top: 49.4%; 
    left: 52.8%; 
}
#g12 { 
    top: 49.4%; 
    left: 48.7%; 
}
#g13 { 
    top: 49.4%; 
    left: 44.6%; 
}
#g14 { 
    top: 49.4%; 
    left: 40.6%; 
}
#g15 { 
    top: 49.4%; 
    left: 36.4%; 
}
#g16 { 
    top: 49.4%; 
    left: 32.4%; 
}
#g17 { 
    top: 49.4%; 
    left: 28.4%; 
}
#g18 { 
    top: 65%; 
    left: 69.2%; 
}
#g19 { 
    top: 65%; 
    left: 65%; 
}
#g20 { 
    top: 65%; 
    left: 61%; 
}
#g21{ 
    top: 65%; 
    left: 56.9%; 
}
#g22 { 
    top: 65%; 
    left: 52.9%; 
}
#g23 { 
    top: 65%; 
    left: 48.8%; 
}
#g24 { 
    top: 65%; 
    left: 44.7%; 
}
#g25 { 
    top: 65%; 
    left: 40.6%; 
}
#g26 { 
    top: 65%; 
    left: 36.5%; 
}
#g27 { 
    top: 65%; 
    left: 32.4%; 
}
#g28 { 
    top: 65%; 
    left: 28.3%; 
}
#g29 { 
    top: 65%; 
    left: 24.2%; 
}
#g30 { 
    top: 65%; 
    left: 20.2%; 
}
#g31 { 
    top: 65%; 
    left: 16%; 
}
#g32 { 
    top: 84%; 
    left: 24.2%; 
}
#g33 { 
    top: 84%; 
    left: 28.3%; 
}
#g34 { 
    top: 84%; 
    left: 32.3%; 
}
#g35 { 
    top: 84%; 
    left: 36.3%; 
}
#g36 { 
    top: 84%; 
    left: 40.5%; 
}
#hg37 { 
    top: 84%; 
    left: 44.6%; 
}
#hg38 { 
    top: 84%; 
    left: 48.7%; 
}
#g39 { 
    top: 84%; 
    left: 52.8%; 
}
#g40 { 
    top: 84%; 
    left: 56.9%; 
}
#g41 { 
    top: 84%; 
    left: 61%; 
}
#g42 { 
    top: 84%; 
    left: 65%; 
}
