*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
}

html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100%;
}

.container {
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: lightgray;
    border-radius: 8px;
    box-shadow: 2px 2px 12px #aaa;
    
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-radius: 8px 8px 0 0;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.content {
    padding: 20px;
    line-height: 1.6;
}

.info {
    margin: 10px 0;
    font-size: 18px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #860111;
}

/* Sidebar styles */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #860111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 25px;
}

.sidenav a {
    padding: 32px;
    text-decoration: none;
    font-size: 35px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    background-color: #cc0000;
    min-height: 100vh; /* Make main take the full viewport height */
}

.openbtn {
    font-size: 40px;
    cursor: pointer;
    background-color: #860111;
    color: white;
    padding: 15px 25px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}
