* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #D80000; /* Adjust background color as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-container {
 
  text-align: center;
  max-width: 320px; /* Adjust width as needed */
}

.logo-container img {
  max-width: 250px; /* Adjust based on your logo size */
  margin-bottom: 20px;
  justify-content: center;
  align-items: center
}

#login-container {
  background-color: white;
  padding: 0px;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-wrapper {
  margin-bottom: 18px;
}

input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  margin: 5px 0;
  border: 3px solid #ccc;
  border-radius: 40px;
}

.form-actions {
  margin-top: 57px;
  margin-bottom: 60px
}

button {
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 40px;
  background-color: #333;
  color: white;
  margin-bottom: 10px; /* Add space between buttons */
  
}


button:hover {
  background-color: #555;
}

@media (max-width: 480px) {
  .centered-container {
    width: 90%;
  }
}
