*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  text-align: right;
  vertical-align: top;
}

#reservationTimes{
  text-align: center;
  font-size: 2vw;
}
#start_time{
  font-size: 2vw;
}
#end_time{
  font-size: 2vw;
}

#confirmButton{
	text-align: center;
}
h1{
  font-size: 2vw;
}
#parkingHeader{
  text-align: center;
  color:#ffffff;
  font-size: 2.5vw;
  transform:translateY(-150%);
  
}

/*Sidebar*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #860111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 25px;
}

.sidenav a {
  padding: 32px;
  text-decoration: none;
  font-size: 35px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: .5vw;
  background-color: #cc0000;
}

.openbtn {
  font-size: 2.6vw;
  cursor: pointer;
  background-color: #860111;
  color: white;
  padding: 15px 25px;
  border-color: black;
  max-width: 100%;
  width: 6.4vw;
  height: auto;
}

.openbtn:hover {
  background-color: #444;
}
#lotLetter{
  
}
